<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>
    <a th:href="@{/form}">Create Product</a>
</h3>
<form action="/search" method="post">
    <label>Search</label>
    <input type="search" name="search">
    <button type="submit">Search</button>
</form>
<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Brand</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="p,status : ${productList}">
        <td th:text="${status.count}"></td>
        <td th:text="${p.getName()}"></td>
        <td th:text="${p.getPrice()}"></td>
        <td th:text="${p.getDescription()}"></td>
        <td th:text="${p.getBrand()}"></td>
        <td><a th:href="@{/edit/{id}(id=${p.getId()})}">edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${p.getId()})}">delete</a></td>
        <td><a th:href="@{/view/{id}(id=${p.getId()})}">view</a></td>
    </tr>
</table>
</body>
</html>